@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding:0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color:inherit;
}


.nav-link {
    position: relative;
    transition: all 0.3s ease-in-out; 
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    bottom: -3px; 
    left: 0;
    height: 2px;
    width: 0;
    background-color: #44A44B;
    transition: width 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: #44A44B;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }
